@model MaplePPTO.Models.Concepto


<h2 class="m-0">CREATE CONCEPT</h2>
<div class="card">
    @*<div class="card-header">
            <h3 class="card-title">DataTable with default features</h3>
        </div>*@
    <!-- /.card-header -->
    <div class="card-body">
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
        <hr />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-danger">@ViewBag.validation</h4>
                    </div>
                </div>

            <div class="form-group">
                <label class="control-label col-md-2">Name</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control",@required = "required" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
 
                <label class="control-label col-md-2">Entry</label>
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Entrada)
                        @Html.ValidationMessageFor(model => model.Entrada, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Budget Type</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(x => x.TipoPpto, new List<SelectListItem>
                                            {
                                            new SelectListItem() {Text = "Operativo", Value="Operativo"},
                                            new SelectListItem() {Text = "Financiero", Value="Financiero"}
                                            

                                            }, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.TipoPpto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Phase</label>
                <div class="col-md-10">
                    @Html.DropDownList("id_fase", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.id_fase, "", new { @class = "text-danger" })
                </div>
            </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }


        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

    </div>
</div>
