@model MaplePPTO.ViewModels.ParametroViewModel
@{

    var grupos = Model.ListReports?.GroupBy(x => x.grupo).ToDictionary(g => g.Key, g => g.ToList());
    ViewBag.listHeader = Model.listHeader;
}
@*<link href="~/Content/tabulador/css/tabulator.min.css" rel="stylesheet" />*@
@*<link href="~/Content/tabulador/css/tabulator_midnight.css" rel="stylesheet" />*@
<link href="~/Content/tabulador/css/tabulator_simple.min.css" rel="stylesheet" />
@*<link href="~/Content/tabulador/css/tabulator_bootstrap4.min.css" rel="stylesheet" />*@
<h1 class="m-0">Financial Reports</h1>
<div class="card" id="app">
    @*<div class="card-header">
            <h3 class="card-title">DataTable with default features</h3>
        </div>*@
    <!-- /.card-header -->
    <div class="card-body">
        @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "mainForm" }))
        {
            @Html.HiddenFor(model => model.showMonths, new { @id = "hdnShowMonth" })
            <div class="row">

                <div class="col-12 col-md-3">
                    <label>Report Type</label>
                    @Html.DropDownListFor(model => model.TipoReporteId, Model.selectLisReportTypes, new { @class = "form-control", @id = "ddlTiporeporte" })

                </div>
                <div class="col-12  col-md-3">
                    <label>Budget</label>
                    @Html.DropDownListFor(model => model.PresupuestoId, Model.selectListBudgets, new { @class = "form-control", @id = "ddlBudgets" })
                </div>
                <div class="col-12  col-md-3">
                    <label>Escenarie</label>
                    @Html.DropDownListFor(model => model.EscenarioId, Model.selectListEscenaries, new { @class = "form-control", @id = "ddlEscenaries" })
                </div>

            </div>
            <div class="row mt-4">
                <div class="col-12 col-md-6" style="text-align:end">
                    <button type="submit" class="btn btn-outline-primary">FILTER REPORT</button>
                </div>
            </div>
        }
        <p>


        </p>
        <hr />

        <hr />
        <div class="mb-1">
            <button class="btn btn-sm btn-success" id="download-csv">Download CSV</button>
            <button class="btn btn-sm btn-success" id="download-json">Download JSON</button>
            <button class="btn btn-sm btn-success" id="download-xlsx">Download XLSX</button>
        </div>
        <div class="" id="example2" style="font-size:13px">

        </div>


    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

@section scripts {

    <!-- DataTables  & Plugins -->
    <script src="~/Content/tabulador/js/tabulator.min.js"></script>
    <script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
    <script>
                //variables javaScript globales
                
        const urlGetSummaryOperationReport = '@Url.Action("SummaryOperationReport", "Resultados")';
        const urlDetailsOperationReport = '@Url.Action("DetailsFinancialReport", "Financiero")';

        const listHeaderDetail = @Html.Raw(Json.Encode(Model.listHeader));
        //const listBodyDetail = @Html.Raw(Json.Encode(Model.listHeader));

    </script>
    <script src="~/Scripts/finantialReport/finantialReport.js"></script>


}
