@model MaplePPTO.Models.InsumosCext

<h2 class="m-0">CREATE SUPPLY CEXT</h2>
<div class="card">
    @*<div class="card-header">
            <h3 class="card-title">DataTable with default features</h3>
        </div>*@
    <!-- /.card-header -->
    <div class="card-body">
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
        <hr />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-danger">@ViewBag.validation</h4>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Description</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control",@required="required" } })
                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Presentation</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.presentacion, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.presentacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">M-Expert</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.mExperto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mExperto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Somnology</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.somnlogo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.somnlogo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">T-Respiratory</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.tRespiratorio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tRespiratorio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Nutrition</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nutricion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nutricion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Psichology</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.psicologia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.psicologia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
        }


        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

    </div>
</div>
